.aside {
    display: flex;
    flex-direction: column;

    &__item {
        position: relative;
        width: 160px;
        height: 62px;
        display: flex;
        align-items: center;
        padding-left: 10px;
    }

    &__link {
        text-decoration: none;
        font-family: 'Comfortaa', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;

        color: #000000;

    }

    &__active {
        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            height: 62px;
            width: 27px;
            background: rgba(100, 211, 112, 0.3);
        }
    }
}